%div.span2.well
  %a.button{:href => "/auth/google"}
    %div
      = image_tag("google_64.png", :size => "64x64", :alt => "Google")
    %div
      %strong Login with Google
%div.span2.well
  %a.button{:href => "/auth/facebook"}
    %div
      = image_tag("facebook_64.png",:size => "64x64", :alt => "Facebook")
    %div
      %strong Login with Facebook