<h3>PollenGrain</h3>
<p>We are currently offline for <%= reason ? reason : 'maintenance' %> as of <%= Time.now.utc.strftime('%H:%M %Z') %>.</p>
<p>Sorry for the inconvenience. We will be back <%= deadline ? "by #{deadline}" : 'shortly' %>.</p>

