-if (!request.xhr?)
  %br
  %br
  %h2 Edit Event

= form_for(@event, :html => {:class => "well"}) do |f|
  -if (!request.xhr?)
    = render :partial => "new_edit", :locals => {:f => f, :stdintendedview => "edit"}
  -else
    = render :partial => "new_edit", :locals => {:f => f}
  
  
