%h2 Timeline View

%div#timeline-embed
  
  
:javascript
  :plain
    var timeline_config = {
    width:  "100%",
    height: "100%",
    source: "/tmp/data.json",
    }


%script{:type => "text/javascript",
	:src => "/js/timeline-embed.js"}
