%h3 What is it?
%br
%p
  %i.icon-ok
  #{PRODUCT_DISPLAY_NAME} 
  lets you generate timelines quickly. Enter search terms and date range (optional) to get relevant events on a timeline.
%p
  %i.icon-ok
  Play with the timeline to get information about the events. 
%p
  %i.icon-ok
  Embed #{PRODUCT_DISPLAY_NAME} timelines on external websites using the html embed code.
%p
  %i.icon-ok
  Visit the
  %a{:href => "/"}homepage
  to get a first-hand experience.
%br
-if !request.xhr?
  / ******************
  /Show it only on normal page.
  / ******************
  %br
  %h4 Team
  %ul
    %li
      Chetan Vaity
      %span.small-gray-text (chetanv at Google's email service)
    %li
      Amol Potnis
      %span.small-gray-text (amolpotnis at Google's email service)
  %br
  %h4 Contribute
  %ul
    %li
      Mail your suggestions to
      %strong pollengrain.timelines at gmail dot com
    %li
      The
      %a{:href => "https://github.com/chetanvaity/kaal"}code
      at Github. Improvements welcome!
    