%h3 What is it?
%br
%p
  %i.icon-ok
  #{PRODUCT_DISPLAY_NAME} 
  lets you generate timelines quickly. Enter search terms and date range (optional) to get relevant events on a timeline.
%p
  %i.icon-ok
  Play with the timeline to get information about the events. 
%p
  %i.icon-ok
  Embed #{PRODUCT_DISPLAY_NAME} timelines on external websites using the html embed code.
%p
  %i.icon-ok
  Visit the
  %a{:href => "/"}homepage
  to get a first-hand experience.
%br
-if !request.xhr?
  / ******************
  /Show it only on normal page.
  / ******************
  %br
  %h3 Team
  %div.span12
    %div.span5.well
      %img{:src => "/assets/chetan.jpg", :width => 48, :height => 48}
      Chetan Vaity
      %span.small-gray-text (chetanv at Google's email service)
      %div
        %a{:href => "http://in.linkedin.com/pub/chetan-vaity/1/93/842"}
          %img{:src => "/assets/linkedin.jpg", :width => 16, :height => 16}
        %a{:href => "https://www.facebook.com/chetan.vaity"}
          %img{:src => "/assets/facebook_64.png", :width => 16, :height => 16}
        %a{:href => "https://plus.google.com/114917757845658225613"}
          %img{:src => "/assets/google_64.png", :width => 16, :height => 16}
    %div.span5.well
      %img{:src => "/assets/amol.jpg", :width => 48, :height => 48}
      Amol Potnis
      %span.small-gray-text (amolpotnis at Google's email service)
      %div
        %a{:href => "http://www.linkedin.com/pub/amol-potnis/1/285/15a"}
          %img{:src => "/assets/linkedin.jpg", :width => 16, :height => 16}
        %a{:href => "https://www.facebook.com/amol.potnis"}
          %img{:src => "/assets/facebook_64.png", :width => 16, :height => 16}

  %br
  %h3 Contribute
  %ul
    %li
      Mail your suggestions to
      %strong pollengrain.timelines at gmail dot com
    %li
      The
      %a{:href => "https://github.com/chetanvaity/kaal"}code
      at Github. Improvements welcome!
    