%h3 Contact Us
%br
%p
  We are really excited to hear your feedback about #{PRODUCT_DISPLAY_NAME} time-lines. 
  That will help us to decide further improvements and feature roadmap.
  Please feel free to drop us a mail on 
  %b pollengrain dot timelines at gmail dot com 
  