-set_page_title(@local_page_title)
-set_page_metadescription(@local_page_desc)

%div.hero-unit.border
  %h1 A Big Thank You!
  %p.center This project would not have been possible without these great resources and tools

%div.container-fluid
  %div.row-fluid
    %div.span5.well
      %h3 Dev
      %br
      %ul
        %li
          %a{:href => "http://rubyonrails.org"} Ruby on Rails
        %li
          %a{:href => "http://timeline.verite.co"} Verite Timeline JS 
        %li
          %a{:href => "http://twitter.github.com/bootstrap/"} Twitter Bootstrap
        %li
          %a{:href => "https://github.com/"} Github
        %li
          %a{:href => "http://jquery.com"} JQuery
        %li
          %a{:href => "https://github.com/sunspot/sunspot/wiki"} Sunspot/Solr
        %li
          %a{:href => "http://glyphicons.com/"} Glyphicons

    %div.span5.well
      %h3 Data
      %br
      %ul
        %li
          %a{:href => "http://www.wikipedia.org"} Wikipedia
          &dash; without which nothing was possible!
        %li
          %a{:href => "http://www.mpi-inf.mpg.de/yago-naga/yago/"} YAGO2
          &dash; a Spatially and Temporally Enhanced Knowledge Base from Wikipedia 
        %li
          %a{:href => "http://lcl.uniroma1.it/babelnet/"} BabelNet
          &dash; a very large multilingual semantic network 
        %li
          %a{:href => "http://www-nlp.stanford.edu/software/lex-parser.shtml"} Stanford NLP group
