%h3 Example Timelines
%br
%div.span12
  %div.span5
    %div.well
      %h4 History
      %ul
        %li
          %a{:href => "/events/q/v2?q=Ashoka"}
            %span.label.label-info Ashoka @chetanv_ashoka
        %li
          %a{:href => "/events/q/v2?q=Buddha"}
            %span.label.label-info Buddha
        %li
          %a{:href => "/events/q/v2?q=Satvahana"}
            %span.label.label-info Satvahana
    %div.well
      %h4 Science
      %ul
        %li
          %a{:href => "/events/q/v2?q=India+Medicine"}
            %span.label.label-info India, Medicine
        %li
          %a{:href => "/events/q/v2?q=DNA"}
            %span.label.label-info DNA
        %li
          %a{:href => "/events/q/v2?q=Greece+Astronomer"}
            %span.label.label-info Greece, Astronomer
    
  %div.span5
    %div.well
      %h4 Cinema
      %ul
        %li
          %a{:href => "/events/q/v2?q=Amitabh+Bachchan"}
            %span.label.label-info Amitabh Bachchan
        %li
          %a{:href => "/events/q/v2?q=Govinda+Karishma+Kapur"}
            %span.label.label-info Govinda, Karishma Kapur
        %li
          %a{:href => "/events/q/v2?q=Anurag+Kashyap"}
            %span.label.label-info Anurag Kashyap
    %div.well
      %h4 Technology
      %ul
        %li
          %a{:href => "/events/q/v2?q=Yahoo+Google"}
            %span.label.label-info Yahoo, Google
        %li
          %a{:href => "/events/q/v2?q=Android+phone"}
            %span.label.label-info Android phone
        %li
          %a{:href => "/events/q/v2?q=Ford+General+motors"}
            %span.label.label-info Ford, General Motors
