%h3 Frequently Asked Questions
%br
%div.span12
  %ul
    %br
    %li
      %strong What is Pollengrain?
      %br
        Pollengrain is a place where you can see events on a timeline. You can drag the timeline and browse events on it. We have populated it with some events from the Wikipedia, so if you search for any term(s) like "Indira Gandhi" or "Coca Cola", you will get some events on the timeline. You are encouraged to add more events and tag them appropriately.
    %br
    %li
      %strong How do I view a timeline?
      %br
        First of all, take a look at some
        %a{:href=> "/examples/"} examples.
        If you have something in mind - simply type that into the search box on the home page and click "Search". You should get a timeline related to your query. You can also add From and To dates to limit the period of your timeline. Pollengrain shows the top 20 results in the timeline.        
    %br
    %li
      %strong Can I create my own timeline?
      %br
        That's the idea! You can add/edit events so that they appear in the timeline of your search query. We are working towards making this as easy as possible.
    %br
    %li
      %strong How do I edit an event?
      %br
        Click on the "List view" link. Here you will see the timeline events listed in a tabular format. Click the "Edit" link nex to the event to get started. You will need to be logged in to do this.
    %br
    %li
      %strong How do I share a timeline with friends?
      %br
        As of now, you can simply share the URL. We are working to make this seamlessly possible with Facebook, Google+, etc.
    %br
    %li
      %strong What's the significance of the name "Pollengrain"?
      %br
        None at all. Also
        %i "Hey! Take a look at this Pollengrain timeline"
        had a nice ring to it.
