%div.page-header
  %h1 Terms of Use
  %p.center
    %small
      In the spirit of the Wikimedia Foundation's
      = link_to "Terms of Use", "http://wikimediafoundation.org/wiki/Terms_of_use", :target => "_blank"
      
%div.span10.well
  %p
    %strong Our goal is to:
    %li Enable people to collect and create content (timelines and events) and dedicate it to the public domain.
    %li Disseminate this content effectively and globally, free of charge.
  %br
  %p
    %strong You are free to:
    %li View these timelines free of charge.
    %li Share and Reuse the timelines freely.
    %li Contribute to our project.
  %br
  %p
    %strong Under the following conditions:
    %li Responsibility – You take responsibility for your edits (since we only host your content).
    %li Civility – You support a civil environment and do not harass other users.
    %li Lawful Behavior – You do not violate copyright or other laws. Give credits to any content you use.
    %li No Harm – You do not harm our technology infrastructure.
  %br
  %p
    %strong With the understanding that:
    %li Free Contributions - You freely give your contributions in the public domain for use by others.
    %li No Professional Advice – The content is for informational purposes only and does not constitute professional advice.
  %br
  %p
    %strong In short:
    %li Be nice.
