%div.page-header
  %h1 Browse Timelines

= paginate(@timelines)
- @timelines.each_slice(4).to_a.each do |row|
  = render :partial => "timelines/tl_small_block", :locals => {:selected_timelines => row}
= page_entries_info(@timelines).html_safe
