%div.container
  %br
  %br
  %br
  %br
  %br  
  %div.hero-unit
    %h1 #{PRODUCT_DISPLAY_NAME}
    %h2 Timelines. Quick. Easy.
    %p Timeline creation was never so easy.
    %ul
      %li
        %p
          Quickly  
          %a{:href => new_timeline_path}create 
          timelines of your interest and share.
      %li
        %p 
          %a{:href => examples_path} Check out
          timelines created by others.
        
  %div.row
    %div.span12
      - if @featuted_timelines == nil
        %h1 Please set featured timelines in database.
      - else
        = render :partial => "tl_small_block", :locals => {:selected_timelines => @featuted_timelines}
    %a{:href => examples_path, :style => "float: right"} More...
