%div.row
  %div.span12
    %h2 Showcasing a few timelines of our choice...!
    - if @featuted_timelines == nil
      %h1 Please set featured timelines in database.
    - else
      %br
      %h3 Cinema:
      %br
      = render :partial => "tl_small_block", :locals => {:selected_timelines => @featuted_timelines}
                    
      %h3 Music:
      %br
      = render :partial => "tl_small_block", :locals => {:selected_timelines => @featuted_timelines}
                    
      %h3 History:
      %br
      = render :partial => "tl_small_block", :locals => {:selected_timelines => @featuted_timelines}
                    
      %h3 Sports:
      %br
      = render :partial => "tl_small_block", :locals => {:selected_timelines => @featuted_timelines}
      