%div{:id => "popover_content_wrapper", :style => "display: none"}
  %div.ellipsis
    %b Sachin: 100 hundreds
    %br
    %b By:
    Amol Potnis
    %br  
    %b Date:
    17/Dec/2017
    %p
      This timeline covers Sachin's magnificent innings where he scrored 100 or more runs. AAAAAAAAA BBBBBBBBBBBB

%div.container
  %br
  %br
  %br
  %br
  %br
  %div.row
    %div.span12
      %p.lead.center
        %i.icon-time 
        View timelines, share with others.  
        %i.icon-time
        Login to the site and create new timelines of your choice.
    %div.span12
      %h5 Check out:
      /-url_to_use_here = generate_timeline_view_url("@amolyp_bigb", @tlid, nil, nil, false, "??")
      /%a{:href => "#{url_to_use_here}", :id => "tl1", :rel => "popover", "data-title" => "Timeline details"}
      /  %span.label.label-info Amitabh Bachchan
      /&nbsp;
      /-url_to_use_here = generate_timeline_view_url("Pink+Floyd+@chetanv_pink_floyd", @tlid, nil, nil, false, "??")
      /%a{:href => "#{url_to_use_here}"}
      /  %span.label.label-info Pink Floyd
      /&nbsp;
      /-url_to_use_here = generate_timeline_view_url("Shivaji+Aurangzeb+@chetanv_shivaji_aurangzeb",@tlid, nil, nil, false, "??")
      /%a{:href => "#{url_to_use_here}"}
      /  %span.label.label-info Shivaji, Aurangzeb
      /%span#status-line
      /  %a{:href => "/examples/"}
      /    More
      %div.span3.center
        %a.thumbnail{ :href => "#", :id => "tl1", :rel => "popover", "data-title" => "Timeline details"}
          %img{ :class => "homepagethumb", :src => "http://2.bp.blogspot.com/-pgTLBSzdW7E/TaWnB4Fxd1I/AAAAAAAAAgs/7G3uMGKXPFk/s1600/sachin-tendulkar-wallpapers-photos-8%5B1%5D_%281%29.jpg", :alt => ""}
        %b Sachin and his 100 hundreds.
      %div.span3.center
        %a.thumbnail{ :href => "#", :id => "tl1", :rel => "popover", "data-title" => "Timeline details"}
          %img{ :class => "homepagethumb", :src => "http://2.bp.blogspot.com/-pgTLBSzdW7E/TaWnB4Fxd1I/AAAAAAAAAgs/7G3uMGKXPFk/s1600/sachin-tendulkar-wallpapers-photos-8%5B1%5D_%281%29.jpg", :alt => ""}
        %b Sachin and his 100 hundreds.
      %div.span3.center
        %a.thumbnail{ :href => "#", :id => "tl1", :rel => "popover", "data-title" => "Timeline details"}
          %img{ :class => "homepagethumb", :src => "http://katrinakaif.in/wp-content/uploads/2012/04/Katrina-Kaif-Wiki.jpg", :alt => ""}
        %b Sachin and his 100 hundreds.
      %span
        %br
        %br
        %br
        %br
        %br
        &nbsp;&nbsp;&nbsp;&nbsp;
        %a{:href => "/examples/"}
          More...
      
  %br &nbsp;
  %br    
  = render 'timelines/timeline_core'     
          
%script{:type => "text/javascript"}
  $(function ()  
  { 
  $("#tl1").popover({template: '<div class="popover"><div class="arrow"></div><div class="popover-inner homepage-class"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>', placement:"right",html : true, content: function() { return $('#popover_content_wrapper').html();}  });   
  });                                                           

