/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body {
    height:100%;
    padding: 0px;
    margin: 0px;
}

/*  Amol: commented this block ...things work fine
#timeline-embed{
    margin:0px !important;
    border:0px solid #CCC !important;
    padding:0px !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    -moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
}
*/

#status-line {
    font-size:x-small;
    color:gray;
}

/*
 * Reference : https://github.com/mathiasbynens/jquery-placeholder
 * IE has problem to render placeholders, hence this plugin is used to take care of it.
*/
.placeholder { color: #aaa; }

