// Pagination overrides for Concise theme
// Basically less padding and height

.concise_pagination {
    height: 20px;
    margin: 2px 0;
}
.concise_pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.concise_pagination li {
    display: inline;
}

.concise_pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    float: left;
    line-height: 20px;
    padding: 0 4px;
    text-decoration: none;
}
.concise_pagination a:hover, .concise_pagination .active a {
    background-color: #F5F5F5;
}
.concise_pagination .active a {
    color: #999999;
    cursor: default;
}

.concise_pagination .disabled a, .concise_pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.concise_pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.concise_pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}
.concise_pagination-centered {
    text-align: center;
}
.concise_pagination-right {
    text-align: right;
}

.concise_pagination .current {
  float: left;
  height: 20px;
  padding: 0 4px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.concise_pagination .gap {
  float: left;
  height: 20px;
  padding: 0 4px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
