@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;  /* normally it is 60 px */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


header h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #fff;
}

header h2 {
  //font-size: 1.7em;
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: left;
  font-weight: normal;
  color: #999;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #e7e7e6;
}  

footer a:hover { 
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* For form error messages
    - http://guides.rubyonrails.org/active_record_validations_callbacks.html#customizing-error-messages-css
    - http://twitter.github.com/bootstrap/base-css.html#forms
*/
.errorExplanation {
  @extend .control-group;
  @extend .error;
  @extend .well;
  border-color: $red;
  color: $errorText;
  background-color: $errorBackground;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;	 
}
/* Done form error messages */

.fabric {
  background-image: url('/assets/fabric_1.png');
  background-repeat: repeat;
  background-attachment: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-origin: initial;
  background-clip: initial;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.border {
  border: 1px solid;
  border-color: $grayLight;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}

/* Display adjustement for sign-in popup */
body #modal-signin {
  width: 460px;
  /* position: relative; */
  /* top: 400px;*/
} 

body #modal-about {
  background-color: $gray;
  width: 800px;
}

body #modal-contact {
  background-color: $gray;
}


/*
.homepage-class {
  width: 300px;
  height: 200px;
}
*/

.popover-content {
  background-color: $grayLighter;
}

/* 
 * AMOL: Customized btn-primary clor and lable-info color to match black/gray-ish look-n-feel.
 * Comment it if you don't like
 * -------------------------------------------------------------- 
 */
.btn-primary {
  @include buttonBackground(#888888, #000);
  //@include buttonBackground($gray, #000);
} 
.label-info      { background-color: $gray; }


/* AMOL: IF you want to change header color , ...here is the place. Jus comment this block to retain original behavior. */
.navbar-fixed-top{
   .navbar-inner {
      background-color: $grayDark;
      background-image: none;
      background-repeat: no-repeat;
      filter: none;
   }
}

.small-gray-text {
  color: $grayLight;
}

.small-text {
  font-size: 9px;
}

.popover-content {
  background-color: $grayLighter;
}

img.homepagethumb {
  width: 120px;
  height: 90px;
}


div#lowermenubar.well {
  min-height: 5px;
  padding: 4px;
  margin-bottom: 5px;
  background-color: #fff; 
}

div#hpsentence.well {
  min-height: 9px;
  padding: 5px;
  margin-bottom: 5px;
  /* background-color: #000; */ 
}

