@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #fff;
}

header h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: normal;
  color: #999;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #e7e7e6;
}  

footer a:hover { 
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* For form error messages
    - http://guides.rubyonrails.org/active_record_validations_callbacks.html#customizing-error-messages-css
    - http://twitter.github.com/bootstrap/base-css.html#forms
*/
.errorExplanation {
  @extend .control-group;
  @extend .error;
  @extend .well;
  border-color: $red;
  color: $errorText;
  background-color: $errorBackground;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;	 
}

.fabric {
  background-image: url('/assets/fabric_1.png');
  background-repeat: repeat;
  background-attachment: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-origin: initial;
  background-clip: initial;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.border {
  border: 1px solid;
  border-color: $grayLight;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}