@import "bootstrap";

/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;  /* normally it is 60 px */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


header h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #fff;
}

header h2 {
  //font-size: 1.7em;
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: left;
  font-weight: normal;
  color: #999;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #e7e7e6;
}  

footer a:hover { 
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* For form error messages
    - http://guides.rubyonrails.org/active_record_validations_callbacks.html#customizing-error-messages-css
    - http://twitter.github.com/bootstrap/base-css.html#forms
*/
.errorExplanation {
  @extend .control-group;
  @extend .error;
  @extend .well;
  border-color: $red;
  color: $errorText;
  background-color: $errorBackground;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;	 
}
/* Done form error messages */

.fabric {
  background-image: url('/assets/fabric_1.png');
  background-repeat: repeat;
  background-attachment: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-origin: initial;
  background-clip: initial;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.border {
  border: 1px solid;
  border-color: $grayLight;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}

/* Display adjustement for sign-in popup */
body #modal-signin {
  width: 460px;
  /* position: relative; */
  /* top: 400px;*/
} 

body #modal-about {
  background-color: $gray;
  width: 800px;
}

body #modal-contact {
  background-color: $gray;
}


/*
.homepage-class {
  width: 300px;
  height: 200px;
}
*/

.popover-content {
  background-color: $grayLighter;
}

/* 
 * AMOL: Customized btn-primary clor and lable-info color to match black/gray-ish look-n-feel.
 * Comment it if you don't like
 * -------------------------------------------------------------- 
 */
.btn-primary {
  @include buttonBackground(#888888, #000);
  //@include buttonBackground($gray, #000);
} 
.label-info      { background-color: $gray; }


/* AMOL: IF you want to change header color , ...here is the place. Jus comment this block to retain original behavior. */
.navbar-fixed-top{
   .navbar-inner {
      background-color: $grayDark;
      background-image: none;
      background-repeat: no-repeat;
      filter: none;
   }
}

.small-gray-text {
  color: $grayLight;
}

.small-text {
  font-size: 9px;
}

.bold-text {
  font-weight: bold;
}

.popover-content {
  background-color: $grayLighter;
}

img.tl_fixed_block_imgthumb {
  max-width: 200px;
  height: 120px;
}


img.tlpgimg {
  float: left;
  max-width: 160px;
  height: 120px;
  padding-left: 20px;
  padding-right: 10px;
}

img.tl_searchresults_imgthumb {
  max-width: 140px;
  height: 105px;
  float: left;
}


/* ========== To adjust lower menubar : height color and other styling  START ================ */
div#lowermenubar.well {
  min-height: 3px;
  padding: 0px;
  margin-bottom: 0px; 
  background-color: $gray; 
}

div#lowernavdiv {
   height: 25px;
   a {
    padding-top: 2px;
   }
   
}

/* ========== To adjust lower menubar : height color and other styling  END ================ */

div#hpsentence.well {
  min-height: 9px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: $grayDark;
  color: #fff;
  p {
    font-size: 18px;
  }
}


/* Wanted some changes for link color and hover behavior for text inside thumbnail div */
div.thumbnail {

  /* *** Fixed tl blocks related ****/
  a.tlimageblock {
    color: $grayDark;
    background-color: $grayLighter;
    height: 185px;
  }
  .tlimageblock:hover { 
    text-decoration: none;
    color: #000; 
  } 

  /* ****** timeline search result block related *****/   
  a.tlsearchblock {
    color: $grayDark;
    background-color: $grayLighter;
    height: 105px;
    border: none
  }
  
  .tlsearchblock:hover { 
    text-decoration: none;
    background-color: #fff; 
  } 
}


/* ****** timeline search result block related *****/
p.search_result_tldesc {
  color: $gray;
  font-size: 12px;
}
p.search_result_tlauthor {
  font-size: 13px;
}
/* -------------------------------*/


div.fixed_height_tlsummary {
  min-height: 110px;
  padding-top: 7px;
}

div.border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.thumbnail > img.thumnailgrid {
  margin-left: 0;
  margin-right: 0;
}

/* http://stackoverflow.com/questions/114543/how-to-center-a-div-in-a-div */
.centered {
  width: 80%;
  margin: auto;
}

p.packed {
  line-height: 10px;
}

div.mainmessage {
  background-color: #fff;
  padding-top: 15px;
  border: none;
  box-shadow: none;
  /*border:1px;
  box-shadow: 1px;*/
  padding-bottom: 10px;
  margin-bottom: 0px;
  background-image: url(/assets/tl-image.png);
  height: 445px;
}


div.mainbox1 {
  margin-top: 130px;
  margin-bottom: 5px;
  padding-top: 40px;
  padding-left: 25px;
  margin-left: 60px;
  height: 150px;
  width: 410px;
  background-color: #000;
  h1 {
    color: #fff;
  }
}

div.mainbox2 {
  margin-top: 130px;
  padding-top: 25px;
  padding-left: 15px;
  margin-left: 0px;
  height: 150px;
  width: 410px;
  
  h2 {
    float: left;
    color: $gray;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 15px;
  }
  
}

div.featured_title {
  margin-top: 116px;
  padding-top: 10px;
  padding-left: 25px;
  margin-left: 1px;
  background-color: $gray;   
  h3 {
    color: #fff;
    }
  height: 31px;
  width: 200px;
  
}

div.featured {
  padding-top: 0px;
  margin-top: 0px;
  border: 5px;
  //background-color: $grayLight;
  padding-bottom: 0px;
  margin-bottom: 0px;
  ul.thumbnails {
    padding-bottom: 0px;
    margin-bottom: 0px;
    li {
      margin-bottom: 5px;
      //padding-left: 0px;
      //margin-left: 5px;
    }
    
  }
}

h3.onhomepage {
  font-size: 35px;
  margin-bottom: 20px;
  color: $gray;
}

p.onhomepage {
   color: $gray;
}

strong.onhomepage {
  font-size: 18px;
  color: $gray;
}

hr.onhomepage {
  padding-top: 0px;
  margin-top: 2px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  height: 5px;
  color: $gray;
  background-color: $gray;
}

.page-header h1 {
  margin-bottom: 0px;
}

// ********* To show the listview properly on all browsers *********

td.list_view_title_column {
  width: 11%;
}

td.list_view_source_column {
  width: 9%;
}
td.list_view_date_column {
  width: 9%;
}
td.list_view_desc_column{
  width: 30%;
  word-break: break-all;
  word-wrap:break-word;
}
td.list_view_url_column {
  width: 30%;
  word-break: break-all;
  word-wrap:break-word;
}
td.list_view_buttons_column {
  width: 11%;
}
//********************** listview style end **********************



