
%footer.footer{:style => "background-color:#30302a;"}
  %p.pull-right
    %ul
      %li
        = link_to "Terms of use", '/terms'
      %li
        = link_to "Credits", '/credits'
      %li 
        %a{:href => "/about"} About
        &nbsp;
  /
  / Note: This is an empty div. Without this, somehow footer does not get rendered. Solve it if you want to.
  /      
  %p.pull-left
    %div
      &nbsp;&nbsp;
       