/
/ Contact display
/
/
%div{:class => "modal hide fade", :id => "modal-contact"}
  %div{:class => "modal-header"}
    %button{:type => "button", :class => "close", "data-dismiss" => "modal"}×
    %img{:src => "/assets/pg-black-back.png", :alt => "PollenGrain"} 
    %font{:color => "white"} #{PRODUCT_TAG_LINE}
  %div{:class => "modal-body fabric"}
    %h3 Contact Us
    %br
    %p
      We are really excited to hear your feedback about #{PRODUCT_DISPLAY_NAME} time-lines. 
      That will help us to decide further improvements and feature roadmap.
      Please feel free to drop us a mail on 
      %b chetanv at gmail dot com 
      or
      %b amolpotnis at gmail dot com
       
       

/
/
/

%footer.footer{:style => "background-color:#30302a;"}
  %p.pull-right
    %ul
      %li
        = link_to "Credits", '/credits'
      %li 
        %a{:href => "/about"} About
      %li 
        %a{:id => "ftrcontactpopupbtn", :href => "#modal-contact", "data-toggle" => "modal"} Contact us
  
  /
  / Note: This is an empty div. Without this, somehow footer does not get rendered. Solve it if you want to.
  /      
  %p.pull-left
    %div
      &nbsp;&nbsp;
       