%footer.footer
  %p.pull-right
    %ul
      %li 
        = link_to "About",   '#'
      %li 
        = link_to "Contact", '#'

  %p.pull-left
    %div
      Built using 
      %a{:href => "http://www.rubyonrails.com"} Rails,
      %a{:href => "http://timeline.verite.co"} Verite Timeline JS,
      %a{:href => "http://twitter.github.com/bootstrap/"} Twitter Bootstrap,
      and
      %a{:href => "/credits"} lots more
