%footer{:class => "footer"}
  %small
    Copyright @ 2012-12
  %nav
    %ul
      %li 
        = link_to "About",   '#'
      %li 
        = link_to "Contact", '#'
      %li 
        %a{:href => "http://news.railstutorial.org/"} News
    
