%header{:class => "navbar navbar-fixed-top"}
  %div{:class => 'navbar-inner'}
    %div{:class => 'container'}
      = link_to image_tag("logo.png", alt: "Time2Time", id: 'logo'), '#'
      %h1 Time2Time
      %h2 Browse data with respect to time!